#box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    height: 700px;
    background-color: black;
    display: flex;
    align-items: flex-end;
}

.bar{
    box-sizing: border-box;
    background-color: blue;
    border: 1px solid rgb(0, 0, 48);
    /* margin:1px; */
}